.pad120{
 padding: 100px 0px 30px;
}
.service-text{
  padding: 125px 0px 0px 100px;
  /* 21px 0px 0px 50px; */

}
.service_heading{
   font-size: 30px!important;
   font-weight: 500!important;
   line-height: 36px!important;
   max-width: 500px;
  }
  .service-text .kinative_para{
     max-width: 498px;
     margin: 19px 0px 28px;
  }
.navbar-brand>img {
    margin-top: -8px;
    margin-left: 25px;
}
.max-width471{
   max-width: 416px;
 }   
.main_content {
    margin: 186px 0px 0px 0px;
}
.logo_features{
    padding: 10px 0px 89px;
}
.dark_para2 {
    font-size: 18px;
    color: #969696;
    font-weight: 500;
    max-width: 663px;
    margin: 0px 0px 12px;
  }  

  .dark_bg{
    background: #f8f8f8;
    height: 665px;
    padding: 115px 100px 0px;
  }

  .img-box{
    display: inline-block;
    -webkit-box-shadow: 5px 6px 18.2px 1.8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 6px 18.2px 1.8px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 6px 18.2px 1.8px rgba(0, 0, 0, 0.15);
    padding: 34px 30px 39px;
    background: #fff;
    border-radius: 7px;

  }


 
.brand-logoicon, .brand-webicon, .brand-printicon, .brand-marketicon, .brand-packageicon
{ display: inline-block; background: url('../images/brand_identity_sprite2.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.brand-logoicon { background-position: -5px -0px; width: 76px; height: 65px; }
.brand-webicon { background-position: -5px -70px; width: 73px; height: 58px; }
.brand-printicon { background-position: -5px -133px; width: 70px; height: 65px; }
.brand-marketicon { background-position: -5px -203px; width: 69px; height: 63px; }
.brand-packageicon { background-position: -5px -271px; width: 41px; height: 58px; }

@media(max-width:1200px){
  .service_heading {
    font-size: 24px!important;
  }  
  .service-text{
    padding: 61px 0px 17px 35px;
  }
  .service-text .kinative_para{
    width: 91%;
  }
}

  @media(max-width:768px){
    .main_content{
      margin-top: 113px;
    }
  }