
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
/*SEARCH_BAR*/
.search{
    position: relative;
    display:inline-block;
    }
   #input-search {
    width: 285px;
    font-size: 14px;
    padding: 0px 45px;
    border: none;
    height: 47px;
    margin: 50px 0px 0px;
    background: #fff;
    border: 1px solid #c4c4c4;
    transition: .3s;
}

#input-search:active,#input-search:focus{

   outline: 1px solid #c4c4c4;
}
 .search-icon{
  position: absolute;
    top: 64px;
    color: #800000;
    left: 32px;
    font-size: 16px;
 }

/*SEARCH_BAR*/

 
.box-s{
  box-shadow: 0px 0px 14px 2px rgba(230,225,230,0.82);
    -webkit-box-shadow: 0px 0px 14px 2px rgba(230,225,230,0.82);
    -moz-box-shadow: 0px 0px 14px 2px rgba(230,225,230,0.82);
}
.semi-header{
  font-size: 24px;
  font-weight: 700;
  color:#000;
  position: relative;
  left: 24px;
}

.semi-header::before{
  content: '';
    position: absolute;
    top: 21px;
    left: -23px;
    background: #800000;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    width: 20px;
    height: 10px;
}
.border{
    
    background: #800000;
    width: 100%;
    height: 1px;
}
.red-post{
  font-style: italic;
  color: #800000;

}

/*PARAGRAPH*/
.white-p{
  color: #fff;
}
.black-p{
  color: #000;
}
.light-p{
  font-weight: 300;
  color: #c4c4c4;
  cursor: pointer;
}

.para-s{
   font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.para-n{
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  max-width: 500px;
}

.para-b{
   font-size: 18px;
  font-weight: 400;
  text-align: justify;
}

/*PARAGRAPH*/

.hover-g{
   cursor: pointer;
   transition: .3s;
}

.hover-g:hover{
  color: grey;

}



/*FONTS*/
.f-16{
  font-size: 16px;
}
.f-r16{
  font-size: 16px;
}
.font-raleway{
   font-family: 'Raleway', sans-serif;
}
.f-weight500{
  font-weight: 500;
}
.f-weight700{
  font-weight: 700;
}
/*FONTS*/


a:hover,a:visited,a:focus{
  text-decoration: none;
  color: #000;
}
.f-24{
   font-size: 24px;
}
.b{
  display: block;
}

.inline{
  display: inline;
}

.inline-b{
   display: inline-block;
}


/*MARGIN AND PADDING*/
.max-width{
  max-width: 460px;
}
.padding-neu{
  padding: 0px 0px!important;
}
.margin-tb7{
  margin: -7px 0px 25px;
}
.margin-t7{
  margin: 7px 0px;
}
.margin-l100{
  margin-left: 100px;
}
.margin-l55{
  margin-left: 55px;
}
.margin-l30{
   margin-left: 30px;
}
.margin-30{
  margin-top: 30px;
}
.margin-t40{
  margin-top: 40px;
}
.margin-r30{
      margin: 0px 31px;
}

.margin-r6{
  margin: 0px 6px;
}

.margin-t50{
  margin-top: 50px;
}
.margin-t35{
  margin-top: 35px;
}
.max-738{
  max-width: 738px;
}
.margin-t15{
   margin-top: -15px;
}

.margin-tl{
    margin: -2px 0px 30px 6px;
}
.margin-8lpx{
      margin-left: -8px;
}
.margin-4lpx{
  margin-left: 5px;
}
.margin-12lpx{
   margin-left: 12px;
  }
.margin-tb-0{
  margin: 0px 0px 0px!important;
}  
.margin-t6{
  margin-top: -6px;
}

.padding-56l{
  padding-left: 70px;
}

/*MARGIN AND PADDING*/
.white{
  color: #fff;
}
.black{
  color: #000;
}

.grey-b{
  color: #969696;
  font-weight: 500;
}
#naming img{
  margin-top: -24px;
}

.light_bg{
   background: #f8f8f8;
    text-align: center;
    font-weight: 500;
    padding: 85px 0px 86px;
}

.hvr-underline-from-left::before {
    background: red;
}

.color-grey{
  color: #969696;
}


.dark_para{
    font-size: 14px;
    color: #969696;
    font-weight: 500;
}
.dark_para_b{
    font-size: 18px;
    color: #969696;
    font-weight: 500;
}
.light_para{
    font-size: 14px;
 color: #969696;
  font-weight: 300;
    
}
.light_para_b{
    font-size: 16px;
    color: #969696;
    font-weight: 300;
    text-align: justify;
    max-width: 515px;
}
.white_para{
    color: #fff;
}
.black_para{
    color: #000;
    font-size: 24px;
    font-weight: 900;
}
.white_para_b{
     font-size: 18px;
    }

.active:hover::after {
    width: 100%;
    transition: width .3s;
}
.btn {
 
  width: 165px;
    padding: 12px;
    height: 45px;
    display: inline-block;
    background: transparent;
    font-size: 1em;
    border-radius: 0px;
    font-weight: 700;
    color: red;
  -webkit-transition: all 0.7s ease-out;
   transition: all 0.7s ease-out;
 /* background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0.8), rgba(255, 150, 150, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background: linear-gradient(270deg, rgba(255, 0, 0, 0.8), rgba(255, 150, 150, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;*/
  text-decoration: none;
  margin: 0px 10px;
  border: none;
  border: 1px solid red;
}
.btn_black {
    width: 165px;
    padding: 12px;
    height: 45px;
    display: inline-block;
    background: #000;
    font-size: 1em;
    border-radius: 0px;
    font-weight: 700;
    color: #fff;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    text-decoration: none;
    margin: 0px 0px;
    border: none;
}

.hvr-bounce-to-right:before{
    background: red;
}
.btn:hover {
  color: black;
  border: 1px solid red;
  /*background-position: 99% 50%;*/
  font-weight:700;
}


h2{
    font-size: 34px;
    font-weight: 700;
}
.section_tag{
    color: #000;
    display: inline-block; 
     font-size: 48px;
    font-weight: 900;
    margin-left: 24px
}
.grey{
    display: block;
   color:#494949;
    font-size: 2.9em;
    font-weight: 700;
    margin: -21px 0px;
}
.social_icons a{
	font-size: 16px;
   padding: 0px 16px 0px 0px;
    color: #fff;
}
.social_icons a:hover{
    color:red;
    cursor: pointer;
  -webkit-transition:  color .5s ease-out;
  -moz-transition:  color .5s ease-out;
  -o-transition:  color .5s ease-out;
  transition:  color .5s ease-out;
}

.kinative_para1{
	font-size: 18px;
    color: #fff;
    margin: 20px 0px;
    max-width: 458px;
}
.kinative_para2{
  
    font-size: 16px;
    text-align: justify;
    max-width: 510px;
    color: #454545;
   

}

.red_bold{
	background: transparent;
	font-weight: 700;
	color: red;
}

.red{
  color: red;
  background: transparent;
    font-weight: 700;
}
.black{
  color: #101010;
  background: transparent;
    font-weight: 700;
}

/*margins and paddings*/

.margin-top-130{
  margin-top: 130px;
}
.margin-top-75{
   margin-top: 75px;
}

.arrow {
    display: inline-block;
    margin-bottom: 5px;
}

.arrow2{
   display: inline-block;
   margin: 0px -15px;
}
.line {
    margin-top: 14px;
    width: 11px;
    background: #fff;
    height: 2px;
    float: left;
    margin-left: 20px;
}

.point {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
    float: left;
    margin-top: 11px;
}

.red-l{
   background: #800000;
}

.red-p{
  border-left: 4px solid #800000;
}