
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a:hover,a:visited,a:focus{
  text-decoration: none;
}
.light_bg{
   background: #f8f8f8;
    text-align: center;
    font-weight: 500;
    padding: 85px 0px 86px;
}

.hvr-underline-from-left::before {
    background: red;
}

.color-grey{
  color: #969696;
}
.dark_para{
    font-size: 14px;
    color: #969696;
    font-weight: 500;
}
.dark_para_b{
    font-size: 18px;
    color: #969696;
    font-weight: 500;
}
.light_para{
    font-size: 14px;
 color: #969696;
  font-weight: 300;
    
}
.light_para_b{
    font-size: 16px;
    color: #969696;
    font-weight: 300;
    text-align: justify;
    max-width: 515px;
}
.white_para{
    color: #fff;
}
.black_para{
    color: #000;
    font-size: 24px;
    font-weight: 900;
}
.white_para_b{
     font-size: 18px;
    }

.active:hover::after {
    width: 100%;
    transition: width .3s;
}
.btn {
 
  width: 165px;
    padding: 12px;
    height: 45px;
    display: inline-block;
    background: transparent;
    font-size: 1em;
    border-radius: 0px;
    font-weight: 700;
    color: red;
  -webkit-transition: all 0.7s ease-out;
   transition: all 0.7s ease-out;
 /* background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0.8), rgba(255, 150, 150, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background: linear-gradient(270deg, rgba(255, 0, 0, 0.8), rgba(255, 150, 150, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;*/
  text-decoration: none;
  margin: 0px 10px;
  border: none;
  border: 1px solid red;
}
.btn_black {
    width: 165px;
    padding: 12px;
    height: 45px;
    display: inline-block;
    background: #000;
    font-size: 1em;
    border-radius: 0px;
    font-weight: 700;
    color: #fff;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    text-decoration: none;
    margin: 0px 0px;
    border: none;
}

.hvr-bounce-to-right:before{
    background: red;
}
.btn:hover {
  color: black;
  border: 1px solid red;
  /*background-position: 99% 50%;*/
  font-weight:700;
}

h1{
	font-size: 4.3em;
    color: #fff;
    font-weight: 300;
}
h2{
    font-size: 34px;
    font-weight: 700;
}
.section_tag{
    display: inline-block; 
     font-size: 3.7em;
    font-weight: 900;
    margin-left: 24px
}
.grey{
    display: block;
   color:#494949;
    font-size: 2.9em;
    font-weight: 700;
    margin: -21px 0px;
}
.social_icons a{
	font-size: 16px;
   padding: 0px 16px 0px 0px;
    color: #fff;
}
.social_icons a:hover{
    color:red;
    cursor: pointer;
  -webkit-transition:  color .5s ease-out;
  -moz-transition:  color .5s ease-out;
  -o-transition:  color .5s ease-out;
  transition:  color .5s ease-out;
}

.kinative_para1{
	font-size: 18px;
    color: #fff;
    margin: 20px 0px;
    max-width: 458px;
}
.kinative_para2{
  
    font-size: 16px;
    max-width: 435px;
    color: #454545;
   

}

.red_bold{
	background: transparent;
	font-weight: 700;
	color: red;
}

.red{
  color: red;
  background: transparent;
    font-weight: 700;
}
.black{
  color: #101010;
  background: transparent;
    font-weight: 700;
}

/*margins and paddings*/

.margin-top-130{
  margin-top: 130px;
}
.margin-top-75{
   margin-top: 75px;
}