
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

body{
	  font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
.hameid-loader-overlay {
  width: 100%;
  height: 100%;
  background: url('../images/kinative_gif.gif') center no-repeat #FFF;
  z-index: 99999;
  position: fixed;
}
p::selection{
  background:red;
  color:#fff;
 } 
 a:selection{
  color: red;
 }
::selection {
  background:red;
  color:#fff;
  }  
.kinative_para{
  font-size : 16px; 
   font-weight: 400;
  color: #969696;
  line-height: 22.3px;
  max-width: 458px;
}

.max-width458{
  max-width: 458px;
}
.max-width743{
  max-width: 743px;
}



.text-just{
  text-align: justify;
}

.talk-card {
    background: #fff;
    margin: 8px 15px 18px 15px;
    text-align: center;
    padding: 26px 0px;
    height: 150px;
    width: 28%;
    border-radius: 7px;
    -webkit-box-shadow: 13px 14px 16px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:13px 14px 16px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 13px 14px 16px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.7s ease-out;
}
.heart {
  background-image: url("../images/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
   height: 16px;
  width: 17px;
  top: 3px;
}

.font-raleway{
   font-family: 'Raleway', sans-serif!important;
}
.f-weight500{
  font-weight: 500!important;
}
.f-weight600{
  font-weight: 600!important;
}
.f-weight700{
  font-weight: 700!important;
}
.f-weight400{
  font-weight: 400!important;
}
a:hover,a:visited,a:focus{
  text-decoration: none;
}
.f-32{
  font-size: 32px;
}
.f-14{
  font-size: 14px;
}
.f-24{
   font-size: 24px;
}
.f-26{
  font-size: 26px;
}
.f-28{
   font-size: 28px;
}
.inline-block{
  display: inline-block;
}
.inline{
  display: inline;
}

.max-386{
  max-width: 402px!important;
}
.ml25{
  margin-left: 25px;
}
 .mt50{
   margin-top: 50px;
  }   
.margin-t25{
  margin-top: 25px;
}
.m40{
  margin: 40px 0px;
}
.margin-t50{
  margin-top: 50px;
}
.margin-t35{
  margin-top: 35px;
}
.max-738{
  max-width: 738px;
}
.margin-t15{
   margin-top: -15px;
}

.margin-tl{
    margin: -2px 0px 30px 6px;
}
.margin-8lpx{
      margin-left: -8px;
}
.margin-4lpx{
  margin-left: 5px;
}
.margin-12lpx{
   margin-left: 12px;
  }
.margin-tb-0{
  margin: 0px 0px 0px!important;
}  

.padding-56l{
  padding-left: 70px;
}
.black{
  color: #000;
}

.grey-b{
  color: #969696;
  font-weight: 500;
}
#naming img{
  margin-top: -24px;
}
.m-w{
      max-width: 684px!important;
}
.m-t15{
  margin-top: 13px;
  margin-bottom: 18px;
}
.m-auto{
  margin: auto;
}

.max-433{
  max-width: 467px!important;
}

.light_bg{
   background: #f8f8f8;
    text-align: center;
    font-weight: 500;
    padding: 100px 0px 86px;
}
.white_bg{
   background: #fff!important;
   padding: 20px 0px 125px;
    
}

.hvr-underline-from-left::before {
    background: red;
}

.color-grey{
  color: #969696;
}
.color-b-grey{
  color: #858585;
}

.auto{
   margin: 10px auto 0px;
}
.text-center {
    text-align: center!important;
}
.f-26{
  font-size: 32px!important;
}

.b_para{
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.cus-m24{
      margin: 25px 0px 0px!important
}
.cus-m39{
   margin: 39px 0px 0px!important;

}

.dark_para{
    font-size: 14px;
    color: #969696;
    font-weight: 500;
}
.dark_para_b{
    font-size: 18px;
    color: #969696;
    font-weight: 500;
}
.s_dark_para_b{
  font-size: 18px;
    color: #969696;
    font-weight: 400;

}
.light_para_s{
  font-size: 16px;
 color: #969696;
  font-weight: 500;
  margin-left: 25px;
}
.light_para_s_b{
      font-size: 16px;
      color: #969696;
      line-height: 22.3px;
    margin-left: 13px;
    font-weight: 400;

}
.light_para{
    font-size: 14px;
 color: #969696;
  font-weight: 300;
    
}
.light_para_b{
    font-size: 16px;
    color: #969696;
    font-weight: 300;
    text-align: justify;
    max-width: 515px;
}
.white_para{
    color: #fff;
}
.black_para{
    color: #000;
    font-size: 24px;
    font-weight: 900;
}
.white_para_b{
     font-size: 18px;
    }

.active:hover::after {
    width: 100%;
    transition: width .3s;
}
.btn {
 
  width: 165px;
    padding: 12px;
    height: 45px;
    display: inline-block;
    background: transparent;
    font-size: 1em;
    border-radius: 0px;
    font-weight: 700;
    color: red;
  -webkit-transition: all 0.7s ease-out;
   transition: all 0.7s ease-out;
 /* background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0.8), rgba(255, 150, 150, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background: linear-gradient(270deg, rgba(255, 0, 0, 0.8), rgba(255, 150, 150, 0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;*/
  text-decoration: none;
  /*margin: 0px 10px;*/
  border: none;
  border: 1px solid red;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
.btn_black {
    width: 165px;
    padding: 12px;
    height: 45px;
    display: inline-block;
    background: #000;
    font-size: 1em;
    border-radius: 0px;
    font-weight: 700;
    color: #fff;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    text-decoration: none;
    margin: 15px 0px;
    border: none;
}

.hvr-bounce-to-right:before{
    background: red;
}
.btn:hover {
  color: black;
  border: 1px solid red;
  /*background-position: 99% 50%;*/
  font-weight:700;
}

h1{
	    font-size: 48px;
    color: #fff;
    font-weight: 400;
    margin: 48px -2px 17px;
}
h2{
    font-size: 34px;
    font-weight: 700;
}
.section_tag{
    color: #000;
    display: inline; 
     font-size: 32px;
    font-weight: 900;
    margin-left: 14px
}
.grey{
   display: block;
    color: #494949;
    font-size: 3.2em;
    font-weight: 700;
    margin: -21px -9px -17px;
}
.social_icons a{
	font-size: 16px;
   padding: 0px 16px 0px 0px;
    color: #fff;
}
.social_icons a:hover{
    color:red;
    cursor: pointer;
  -webkit-transition:  color .5s ease-out;
  -moz-transition:  color .5s ease-out;
  -o-transition:  color .5s ease-out;
  transition:  color .5s ease-out;
}

.kinative_para1{
	font-size: 18px;
    color: #fff;
    margin: 20px 0px;
    max-width: 458px;
}
.kinative_para2{
  
    font-size: 16px;
    text-align: justify;
    max-width: 510px;
    color: #454545;
   

}

.red_bold{
	background: transparent;
	font-weight: 700;
	color: red;
}

.red{
  color: red;
  background: transparent;
    font-weight: 700;
}
.black{
  color: #101010;
  background: transparent;
    font-weight: 700;
}

/*margins and paddings*/

.margin-top-130{
  margin-top: 130px;
}
.margin-top-75{
   margin-top: 75px;
}

.talks{
    background: #f8f8f8;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: cover;
    width: 100%;
    padding: 147px 0px 147px;
}