@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

@media (min-width: 1268px) {
.contact_map .shapeit_headings {
	margin-left: 62px;
}
.navbar-nav {
	margin-left: 61px;
}
.ending .navbar-nav {
	margin-left: 224px;
}


}

@media(min-width: 992px) {

}

@media (max-width: 992px) {
 
  .address {
    margin-top: 128px;
}
/*.shopping_cart {
  	right: 22%;
   }  
.about_facts ,.about_text_1 , .about_text_2{
   padding-left:0px;
   padding-right:0px;
  
}
.inner-box{
    max-width: 374px;
    margin: auto;
}*/
 .portfolio-des img{
 	  width: 100%;
 	  height: 350px;
 }
 .nav-tabs{
       position: relative;
    left: -85px;
 }
 .nav-tabs>li {
    margin: 0px 8px 0px -2px;
}
.service-card{
  margin: 60px 0px 15px;
}
.icons::before {
    border-bottom: 2px dashed red;
    content: "";
    height: 1px;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    position: absolute;
    left: 50%;
    bottom: 132px;
    width: 290px;
    z-index: -3;
    opacity: .1;
}
.process-list h3{
  margin: 5px 15px 8px 0px;
    
}
.process-icons h4 {
    display: block;
    list-style-type: none;
    text-decoration: none;
    margin: auto;
    text-align: center;
}
.tab-content{
   padding: 0px 15px;
}
}

@media(max-width: 1200px) and (min-width: 992px) {
  .shopping_cart {
  	right: 18%;
   }  
}
 @media(max-width: 1200px) and (min-width: 768px) {
 .icon-block {
 width: .74in;
 height: .74in;
 font-size: 1.3em;
 padding: 17px 27px;
 }
}

@media(max-width: 1200px) and (min-width: 458px) {
.offers{
   background:url(../images/features_res.jpg);
   text-align:center;
 }

}

@media(max-width: 992px) and (min-width: 768px) {

.filtr-item .image-box {
  margin: 0px;
}

.icons::before {
   bottom: 209px;
  }

}

@media(max-width: 992px) and (min-width: 468px) {

.filtr-item .image-box {
	margin: 0px;
}

}

@media(max-width: 768px) and (min-width: 468px) {

.filtr-item .image-box {
  margin: 0px;
}

}

@media(max-width: 1200px) {

   .kinative_para1{
   	margin: auto;
   }
   .header .kinative_para2{
	margin: 12px auto;
}
    .header-text_right span{
    	display: block;
    }
	.header-text_right{
		margin-left:0px;
		padding:0px 0px;
	}
	.header-text_left,.header-text_right{
		text-align: center;
	}
	h1 {
    font-size: 2.7em;
   }
   .header-text_left .btn{
   	display: none;
   }
	.grey{
		font-size: 2em;
		margin: 0px 0px
	}
	.social_icons {
		    margin: 0px 0px 18px;
	}


}

@media(max-width: 992px) {
  .video_bg{
    height: 36vh;
  }
  .video{
    margin-top: 50px;
    padding: 0px 25px;
  }
.why_us_card1,.why_us_card2,.why_us_card3{
	margin-bottom: 40px;
}
.header_contents {
    padding: 100px 0px 50px;
   }
 .header-text_right .btn{
 	margin:30px 0px;
 }
 .opaque-navbar .opaque {
    background-color: black;
    height: 82px;
    transition: background-color .5s ease 0s;
    padding: 26px 7px;
    width: 100%;
    overflow-x: hidden;
}
.block{
  display: block;
  margin: 20px auto;
 }
}

/*gym*/


@media(max-width:768px) {
   .hellos{
    background-position: -707px 307px;
  }
  .icons::before {
   bottom: 185px;
 } 
 .section_tag{
  font-size: 30px;
  margin-left: 12px;
 }
#naming img{
  margin-top: -16px;
    width: 24px;
}
}

@media(max-width: 600px) {
  .portfolio-item .portfolio-text{
  	margin-top: 80px;
  }
}

@media(max-width: 468px) {
 
}

@media(max-width: 380px) {

}
