@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

@media (min-width: 1268px) {
.contact_map .shapeit_headings {
	margin-left: 62px;
}

.ending .navbar-nav {
	margin-left: 224px;
}


}

@media(max-width: 1200px) {
   .padd {
    padding: 0px 0px;
}
  
}

@media (max-width: 992px) {
 .table-header{
      font-size: 10px;
      margin-left: 0px;
      margin-bottom: 0px;

    }
.margin-l30 {
    margin-left: 11px;
}

    .circle{
      margin: auto;
    }
    .f-r16{
      font-size: 10px;
    }
  .address {
    margin-top: 128px;
}

 .portfolio-des img{
 	  width: 100%;
 	  height: auto;
 }
 
 .nav-tabs>li {
    margin: 0px 8px 0px -2px;
}



.tab-content{
   padding: 0px 15px;
}
}

@media(max-width: 1200px) and (min-width: 992px) {
 
}
 @media(max-width: 1200px) and (min-width: 768px) {

}

@media(max-width: 1200px) and (min-width: 458px) {


}

@media(max-width: 992px) and (min-width: 768px) {



}

@media(max-width: 992px) and (min-width: 468px) {


}

@media(max-width: 768px) and (min-width: 468px) {



}

@media(max-width: 1200px) {

  

}

@media(max-width: 992px) {
  
}

/*gym*/


@media(max-width:768px) {
  
}

@media(max-width: 600px) {
 
}

@media(max-width: 468px) {
  .media-body{
   padding: 23px 2px;
}
  .business-card {
     padding: 3px 3px;
  }

  .faculty-info .margin-r6 {
    margin: 0px 2px;
}
 
}

@media(max-width: 380px) {

}
