  .about{
  	padding: 60px 0px 45px;
  }

   tr{
      height: 115px;
      overflow-x: scroll;
   	}
   	.table-header{
   		font-size: 16px;
   		margin-left: 100px;

   	}
   	.table>thead>tr>th{
   	   border-bottom: 0px;
   	} 
   	.padd {
    padding: 0px 23px 0px 48px;
}
    .staff-df{
    	color: #7b7b7b;
       font-weight: 500;
        margin-bottom: 0px;
    }
   	.staffs .bg-primary{
    	color: #000;
       background-color: #f9f9f9;
        height: 80px;
     }
     .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
    }
    
    .table-hover>tbody>tr:hover {
     background-color: #fff;
     }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
     	text-align: center;
     	vertical-align: middle;
     	border-top: 0px;
     }   

    .table>tbody>tr{
    	border-bottom:  1px solid #800000;
    }
    
    .table>tbody>tr:last-child{
    	border-bottom:  0px;
    }
     .circle{
     	width: 60px;
    height: 60px;
     }
     .margin-neu{
     	margin: 0px 0px;
     }