@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');


.header{
	background: url(../images/webdev_service/webdev_hero.jpg);  
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg {
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.63);
}
.service-all .kinative_para{
    margin: -12px auto 26px!important;
    max-width: 775px;
    text-align: center
}

 .f-rw{
 	font-family: 'Raleway', sans-serif!important;
 }
 .f-46{
 	 font-size: 48px;
 }
 .f-500{
 	font-weight: 500;
 }
 .main_heading {
    color: #fff;
}
 .dark_para2 {
    font-size: 18px;
    color: #969696;
    font-weight: 500;
    max-width: 663px;
    margin: 12px auto;
}
.expect .kinative_para{
    margin: 12px 0px 0px;
    max-width: 458px;
    padding: 0px 17px 0px;
    font-weight: 500;
}
.web_features{
    background: url(../images/webdev_service/bg_shape.png);
   background-repeat: no-repeat;
    background-position: 0px 260px;
    padding: 10px 0px 89px;
}

.content-box3{
	position: relative;
    background: #fff;
    height: 100%;
    padding: 120px 27px;
    top: -90px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    cursor: pointer;
    z-index: 9999;
    /*-webkit-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.7s ease-out;*/
    transition: all 0.7s ease-out;
    background-color: rgb(255, 255, 255);
}


.element-box{
	background: #fff;
    /* height: 180px; */
   height: 310px;
    padding: 40px 27px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 16.2px 1.8px rgba(127, 119, 119, 0.3);
    -moz-box-shadow: 0px 2px 16.2px 1.8px rgba(127, 119, 119, 0.3);
    box-shadow: 0px 2px 16.2px 1.8px rgba(127, 119, 119, 0.3);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background-color: rgb(255, 255, 255);
}

.hr-liner {
    width: 51px;
    height: 4.4px;
    background: red;
    border-radius: 30px;
    border-top: 0px;
    margin-top: 17px;
    margin-left: 0px;
}

.good_feature{
	background: #f8f8f8;
    padding: 0px 0px 120px;
}

.webdev_facts .mar-t115{
    margin-top: 105px;
}
.good_feature .rel-header{
     font-weight: 900!important;
}
.good-feature_right  .kinative_para{
    max-width: 100%;
    margin-left: 6px;
    font-weight: 500;
}
.feature_point{
	 margin: 132px 0px 15px;
}
.padd_0{
    padding-right: 0px;
    padding-left: 0px
}

.feature_points{
	background: #fff;
    padding: 20px 0px 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 4px 3px 12px 2px rgba(127, 119, 119, 0.3);
    -moz-box-shadow: 4px 3px 12px 2px rgba(127, 119, 119, 0.3);
    box-shadow: 4px 3px 12px 2px rgba(127, 119, 119, 0.3);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
.rel{
	
    position: relative;
    z-index: 99;
    margin-top: 99px;
}
.rel-header{
	position: relative;
    z-index: -99;
    font-size: 88px;
    font-weight: 700;
    top: 64px;
    color: #ececec;
}
.number{
	
	    background: red;
    /* width: 1px; */
    color: #fff;
    padding: 1px 6px;
    
}

.webdev_facts{
	background: url(../images/webdev_service/facility_bg.jpg);
	height: auto;

}
.fact-h{
	font-size: 38px;
	color: #fff;
}
.fact_card_box{
	    background: rgba(72, 47, 49, 0.43);
    display: inline-block;
    width: 195px;
    height: 170px;
    text-align: center;
    margin: 109px 0px 100px 20px;

}

.red_fact{
	color: red;
    font-size: 36px;
    font-weight: 700;
    margin-top: 45px;
}

.para_s{
	     font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: -15px;
}

.f-rel{
   position: relative;
   z-index: 99;
}
.f-section-tag{
	    font-size: 32px;
    font-weight: 500;
    color: #000;
    /*display: inline-block;*/
    margin: 22px 0px -6px 0px;
}
.f-content-box{
	background: #fff;
    height: 364px;
    padding: 38px 73px 0px;
    border-radius: 12px;
    width: 45%;
    cursor: pointer;
    -webkit-box-shadow: 7px 7px 30px 1.2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 7px 7px 30px 1.2px rgba(0, 0, 0, 0.18);
    box-shadow: 7px 7px 30px 1.2px rgba(0, 0, 0, 0.18);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background-color: rgb(255, 255, 255);
}
.f-content-box2{
   border-bottom: 2px dashed red;
   width: 10%;
   /* content: "";*/
  /*  height: 1px;
    left: 584px;
    position: absolute;
    bottom: 176px;
    width: 26%;
    z-index: -99;
    opacity: .4;*/
}
.margin-top100{
    margin-top: 100px;
}
.margin-top200{
    margin-top: 200px;
}
.margin-top298{
    margin-top: 292px;
}
.extra:before{
   border-bottom: 2px dashed red;
    content: "";
    height: 1px;
    left: 49%;
    position: absolute;
    bottom: -100px;
    width: 18.9%;
    z-index: -3;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    opacity: .6;
}


.frel-header{
    font-family: roboto;
	position: relative;
    z-index: -99;
    font-size: 8.3em;
    font-weight: 700;
    top: 22px;
    left: -8px;
    color: #F4F4F4
}

.web_process{
    padding: 140px 0px 100px;
}
.talk-cards{
     margin-top: 20px;
}
.talk-card{
    background: #fff;
    margin: auto 15px;
    text-align: center;
    padding: 26px 0px;
    height: 150px;
    width: 28%;
    border-radius: 7px;
    -webkit-box-shadow: 6px 5px 15.9px 0.8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 5px 15.9px 0.8px rgba(0, 0, 0, 0.3);
       box-shadow: 6px 5px 15.9px 0.8px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.7s ease-out;
}
.ecommerse-icon, .ux-icon, .webdesign-icon, .webapp-icon, .ui-icon
{ display: inline-block; background: url('../images/webdev_sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.ecommerse-icon { background-position: -2px -0px; width: 85px; height: 70px; }
.ux-icon { background-position: -2px -72px; width: 79px; height: 64px; }
.webdesign-icon { background-position: -2px -138px; width: 73px; height: 58px; }
.webapp-icon { background-position: -2px -198px; width: 72px; height: 63px; }
.ui-icon { background-position: -2px -263px; width: 65px; height: 60px; }

@media(max-width:1200px) and (min-width:992px){
    .header{
        height: 645px!important;
    }
}
@media(max-width:992px) and (min-width:768px){
    .header{
        height: 490px!important;
    }
}

@media(max-width: 1200px){
    .expect .kinative_para{
        text-align: center!important;
        margin: 12px auto 0px;
    }
    .service-all{
        padding: 70px 0px 50px;
    }
    .service-all .kinative_para {
        margin: -5px auto 24px!important;
        text-align: center!important;
    }
   
}

@media(max-width:468px){
    
     .header{
         height: 645px!important;
     }
}

