@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

/*for raleway font
font-family: 'Raleway', sans-serif;*/

body{
    overflow-x: hidden;
  }
  .form-white{
    background: #fff!important;
  }  
  
  .form-padd-contact {
    padding: 72px 20px 43px 20px!important;
    /* margin-left: 166px!important; */
    background: #fff!important;
    border-radius: 15px!important;
}
 .white-popup {
  position: relative;
  background: #FFF;
  padding: 0px 15px 0px;
  width: auto;
  max-width: 63%;
  margin: 20px auto;
  border-radius: 15px;
  /* webkit-box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82);
  -moz-box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82);
  box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82); */
}


.ui-datepicker .ui-datepicker-header {
  position: relative;
  /* padding: .2em 0; */
  background: #fff;
} 
.ui-state-default, .ui-widget-content .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #fff;
  font-weight: normal;
  text-align: center;
  color: red;
  outline: none;
}
.ui-datepicker {
  width: 15em;
  display: none;
}
.ui-state-active, .ui-widget-content .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  text-align: center;
  color: #000;
  outline: none;
}
.ui-state-active, .ui-widget-content .ui-state-hover {
  border: 1px solid #aaaaaa;
  background: #fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  text-align: center;
  color: #000;
  outline: none;
}
.bg-grey{
  background: #eee;
  
}
/* .mfp-bg {
  background: #fff;
  opacity: .9;
} */
/* #talk .modal-btn .button.btn.hvr-bounce-to-right{
  width: 100%!important;
  border-radius: 11px!important;
  color: #fff!important;
  background: red!important;
} */
.form-padd-left{
  padding: 63px 42px 78px 44px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
 .form-padd-right{
  padding: 72px 100px 0px 70px;
}
hr{
  border-top: 1px solid rgb(247, 242, 242);
}
.form-group{
  margin-bottom: 28px;
}
.form-control{
  background: #eee;
  border: none;
  box-shadow: none;
  height: 47px;
  margin: 2px auto 0px;
  outline: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  padding: 16px 0px 16px 24px;

}
.radio-section img{
   margin: 20px 0px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
   font-size: 14px;
    display: inline-block;
    
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 5px;
  width: 18px;
  height: 11px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  background: #fff
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 11px;
    background: red;
    position: absolute;
    top: 5px;
    left: 3px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.form-control:focus{
  border: 2px solid #ccc;
  box-shadow: none;
  background: #f9f9f9;
  padding: 16px 0px 16px 24px;
  
}
textarea.form-control {
  height: 95px;
}
.input[type=text]{
   font-size: 18px;
   color : #969696;
}
.black{
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.mfp-close-btn-in .mfp-close {
  color: red;
}

 .adress_place{
  position: relative;
  top: 24px;
  left: 20px;
 }
  .adress_card{
    position: absolute;
    top : 162px;
  }
 .box-shadow{
  -webkit-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
 } 
/*START OF WHY_US SECTION*/
.why_us{
	padding:70px 0px 70px;
}
.why_us_card1,.why_us_card2,.why_us_card3{
    background-size: cover;
    height: 280px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 19px 10px rgba(230,225,230,0.82);
   -moz-box-shadow: 0px 0px 19px 10px rgba(230,225,230,0.82);
    box-shadow: 0px 0px 19px 10px rgba(230,225,230,0.82);
      -webkit-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
    
}

.why_us_card1:hover,.why_us_card2:hover,.why_us_card3:hover{
    -webkit-box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82);
    -moz-box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82);
    box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82);
   
 }   

.why_us img{
	    margin: 40px 0px 10px;
}

.why_text{
	font-size: 2.5em;
  font-weight: 500;
}


	
.why_us .identity{
	margin: 0px 0px;
	
}

.why_us .description{
	margin:0px auto 20px auto;
	
}

.why_us .btn{
	margin-bottom: 45px;
}
.why_us_card1{
	background: url('images/designer.jpg');
}	

	.why_us_card2{
		background: url('images/developer.jpg');
		
	}

	.why_us_card3{
		background: url('images/marketer.jpg');
	}

	/***************************END OF WHY US***********************/

	/***************************START OF ABOUT US***********************/
	.about{
		padding:105px 0px 120px;
	}
  .about a:focus{
        outline: none;
  }
	.video_bg {
    background: url(images/video_bg.jpg);
    background-size: cover;
    height: 43vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 0px;
     -webkit-box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
   box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 25px 6px rgba(0, 0, 0, 0.36);
}
.frame {
  background-color: #fff;
  border: 2px double #fff;;
  padding: 10px;
  -webkit-box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
   box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  
}

.btn-mp{
      padding:15px;
      margin:85px 6px 0px;
}
/*.frame:before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}
.frame:after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}*/



/*******************End of ABOUT US*************/
#menu{
  padding: 15px 0px 180px;
}
.service-card{
    box-shadow: 0px 0px 15px 7px rgba(230,225,230,0.82);
    -webkit-box-shadow: 0px 0px 15px 7px rgba(230,225,230,0.82);
    -moz-box-shadow: 0px 0px 15px 7px rgba(230,225,230,0.82);    
    padding: 30px 30px 32px;
    margin: 60px 0px 0px;
    

}

.process-icons{
  margin-top: -16px;
}
.process-list h3{
   text-decoration: none;
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    margin: 56px 19px 0px 0px;
    font-weight: 500;
}

.process-icons h4 {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    margin: 22px 18px -5px 0px;
}
.icon-bg{
    box-shadow: 0px 0px 10px 2px rgba(230,225,230,0.82);
    background: #fff;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 49px;
}    

.icons p{
   font-size: 14px;
  margin: 18px 0px 22px;
  color: #969696;
  font-weight: 300;
}

.icons::before{
    border-bottom: 2px dashed red;
    content: "";
    height: 1px;
    left: 3%;
    position: absolute;
    bottom: 136px;
    width: 80%;
    z-index: -3;
    opacity: .1;
}
.tab-btn{
  margin: 15px 0px 0px -9px;
}

.process-icons img{
    padding: 10px 0px;

}
.nav-tabs {
    display: inline-block;
    border-bottom: 0px;
    margin: 26px -99px -9px 77px;
    float: right;
}

.nav-tabs>li>a{
    font-size: 18px;
    color: #969696;
    border: 0px;
}
.nav-tabs>li{
    margin: 0px 79px 0px -50px;
}
.f-16{
  font-size: 16px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
   color: #000;
    cursor: pointer;
    background-color: #fff;
    border: 0px;
    border-bottom-color: transparent;
  
}

.nav-tabs > li.active > a::before,
.nav-tabs > li.active > a:hover::before,
.nav-tabs > li.active > a:focus::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 17px;
    bottom: 0;
    background: #2098D1;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: red;
    margin: 6px 0px;
    left: 17px;
    height: 3px;
}

.nav-tabs>li>a:hover{
  border-color: transparent;
}
.nav>li>a:hover{
   background: transparent;
   border- color: transparent;
}
.nav-tabs>li>a:hover:before{
   content: "";
    position: absolute;
    z-index: -1;
    right: 17px;
    bottom: 0;
    background: #2098D1;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: red;
    margin: 6px 0px;
    left: 17px;
    height: 3px;

}
/*.nav-tabs>li.active>a{
  background: red;
    left: 17px;
    height: 2px;
    content: "";
    position: absolute;
    z-index: -1;
    right: 100%;
    bottom: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}*/
.content-box2 {
    background: #fff;
    height: 177px;
    padding: 30px 2px;
    border-radius: 5px;
    margin: -88px 17px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background-color: rgb(255, 255, 255);
}
.service-box {
    background: #fff;
    height: 177px;
    padding: 30px 2px;
    border-radius: 5px;
   
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background-color: rgb(255, 255, 255);
}
.service-box{
     width: 28%;
    margin: 8px 15px 18px 15px;
  -webkit-box-shadow: 13px 14px 16px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 13px 14px 16px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 13px 14px 16px 0px rgba(0, 0, 0, 0.1);
}


.dark_para3{
  font-size: 16px;
    font-weight: 500;
    color: #969696;
    line-height: 22.3px;
    margin: 12px auto;
    padding: 0px 15px;
}
.good_feature {
    background: #fcfcfc;
    padding: 120px 0px 85px;
}
.fact-h {
    font-size: 40px;
    color: #fff;
}
.f-rw {
    font-family: 'Raleway', sans-serif!important;
}
.rel-header {
    position: relative;
    z-index: -99;
    font-size: 82px;
    font-weight: 700;
    top: 70px;
    color: #f5f4f4;
}
.rel {
    position: relative;
    z-index: 99;
    top: -11px;
}

.web_features {
    background: url(./images/webdev_service/bg_shape.png);
    background-repeat: no-repeat;
    background-position: 0px 260px;
    padding: 100px 0px 81px;
}

.element-box{
  background: #fff;
    /* height: 180px; */
   height: 327px;
    padding: 40px 34px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 16.2px 1.8px rgba(127, 119, 119, 0.3);
    -moz-box-shadow: 0px 2px 16.2px 1.8px rgba(127, 119, 119, 0.3);
    box-shadow: 0px 2px 16.2px 1.8px rgba(127, 119, 119, 0.3);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background-color: rgb(255, 255, 255);
}

.hr-liner {
    width: 51px;
    height: 4.4px;
    background: red;
    border-radius: 30px;
    border-top: 0px;
    margin-top: 17px;
    margin-left: 0px;
}

/******************START OF PORTFOLIO***************/
.portfolio{
	background: #f8f8f8;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: cover;
   width:100%;
}
.portfolio-des{
  position: relative;
}
.portfolio-text{
  margin-top: 136px;
  text-align: center;
  color:#fff;
}

.white-btn{
   border: 1px solid #fff;
   color: #fff;
}

.white-btn:hover{
   color: #fff;
    border: 1px solid #fff;
}
.portfolio-img .overlay-background {
    z-index: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(245, 36, 35, 0.9);
    color: #fff;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-img:hover .overlay-background {
    opacity: 1;
    visibility: visible;
}

.portfolio-img h2{
    font-size: 26px;
}
.portfolio-img h5 {
    color:#fff;
    font-size: 24px;
    font-weight: 300;
   
}

.portfolio-img h3 {
    color:#fff;
    font-size: 18px;
     font-weight: 300;
}

.margin-6px{
  margin: 0px 0px 6px;
}

.margin-20px{
  margin: 0px 0px 20px
}

/******************END OF PORTFOLIO***************/

/******************START OF BLOG***************/
.blog{
  padding: 315px 0px 0px;
}

.margin-bottom-90{
  margin-bottom: 85px;
}

#blog .light_para_b{
  font-size: 16px;
    color: #969696;
    font-weight: 300;
    text-align: center;
    max-width: 690px;
    margin: auto;
}
 .data-box{
   position: absolute;
 }

 .data-box p{
    transform: rotate(-90deg);
    transform-origin: left top 0;
    margin-top: 147px;
    color: #969696;
    font-weight: 500;
 }

 .image-box{
    position: relative;
    margin-left: 30px;
    overflow: hidden;
 }
 .blog-image-position{
    margin-left: -60%;
 }
.content-box{
    position: relative;
    background: #fff;
    height: 180px;
    padding: 10px 27px;
    top: -117px;
    width: 320px;
     cursor: pointer;
    -webkit-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
     background-color: rgb(255, 255, 255);
  
}

.content-box:hover{
     -webkit-box-shadow: -4px 6px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -4px 6px 14px 0px rgba(0,0,0,0.4);
    box-shadow: -4px 6px 14px 0px rgba(0,0,0,0.4);

  }

.content-box h2 {
    font-size: 18px;
    line-height: 23px;
}
 .blog-auth{
      font-size: 13px;
    font-weight: 400;
    margin-bottom: -13px;
    padding-top: 9px;
    color: #969696;
 } 

 .content-box p{
   margin-top: 20px;
 }
 .red-post{
   font-size: 14px;
   font-weight: 600;
   color:red;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
 }

 .content-box a:hover{
   color: #000;
   text-decoration: none;
 }

 .arrow {
    display: inline-block;
    width: 21px;
}

.line {
    margin-top: 14px;
    width: 11px;
    background: red;
    height: 2px;
    float: left;
    margin-left: 6px;
}
.point {    
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid red;
    float: right;
    margin-top: 11px;
}
.light_bg img,a{
  display: inline-block;
  color: #000;
  text-align: center;
  margin: auto;
}

.light_bg a{
  position: relative;
  top: 4px;
  margin: 0px 7px;
  font-weight: 700;
}
.light_bg a:hover{
  color: red;
}

/******************END OF BLOG***************/

/******************START OF PORTFOLIO***************/

.subscribe{
    background: #f8f8f8;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: cover;
   width:100%;
   padding:  60px 0px 100px;
}

.gift{
   background: url('images/gift_bg.png');
}

.gift img{
   position: relative;
  top: 27px;
  left: 29%;
}
form:focus{
  outline: none;
}
.input-field {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    margin: 30px 0px 0px -10px;
}

.gift_header{
  margin-top: 35px;
}

#subscribe input.btn.btn-lg {
   width: 62%;
    height: 51px;
    text-align: left;
    border:3px solid red;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
    font-size: 14px;
    color: #969696;
    font-weight: 300;
    cursor: default;
}

   
#subscribe input[type="email"]:focus{
    border:3px solid red;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
    outline: none;
    
}


#subscribe button.btn {
     background: #000;
    color:#fff;
    width: 26%;
    height: 51px;
    margin-left: -13px;
    border:none;
    font-size: 16px;
    letter-spacing: .5px;
}

#subscribe button.btn:hover{
    background: red;
    color: #000;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}




.projects{
    background: url(images/project.jpg);
    padding: 105px 0px 120px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 0px 49px;

   /* background-attachment: fixed;*/
}
.margin-top150{
   margin-top: 150px;
}
/*.hellos{
    background: url(images/map.png);
    padding: 100px 0px 100px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}*/



/*.address{
  margin-top: 30px;
}*/

address{
    display: inline-block;
    position: relative;
    top: 26px;
    left: 20px;
}

.footer {
    background: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: auto;
    padding: 52px 0px 24px;
    margin-top: 8px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.19);
}
.bg_map{
      position: relative;
    background: 100%;
    background-size: cover;

}
.footer .social_icons a {
    color: #000000;
  }
  .footer .social_icons a:hover {
    color: red
  }
.footer-icons{
  margin-left: 22px;
}
  .footer-icons a{
    padding: 0px 14px 0px 0px;
  }
.top-box{
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.19);
  padding: 5px 4px;
  border-radius: 7px;
  margin-left: 24px;
}
.top-box a{
  font-size: 18px;
}
  .top{
    background: #000!important;
    padding: 3px 8px 4px 8px!important;
    color: #fff!important;
    border-radius: 7px!important;
  }

 