@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

/*for raleway font
font-family: 'Raleway', sans-serif;*/

body{
    overflow-x: hidden;
}



/*ABOUT */
.about{
  padding: 60px 0px 80px;
}
.card-box{
    box-shadow: 0px 0px 14px 2px rgba(230,225,230,0.82);
    -webkit-box-shadow: 0px 0px 14px 2px rgba(230,225,230,0.82);
    -moz-box-shadow: 0px 0px 14px 2px rgba(230,225,230,0.82);
    padding: 55px 30px 32px;
  
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #800000;
    border: 0px;
   
}

.nav-tabs{
  border-top: transparent;
  border-bottom: 1px solid #800000;
  background: #eee;
}
.nav-tabs>li{
  margin-bottom: 0px;
  width: 50%;
 
}
.nav-tabs>li .active{
  width: 50%;
  background: #800000; 

}
.nav-tabs>li>a {
    color: #000;
    cursor: pointer;
    padding: 13px 0px;
    height: 48px;
    font-size: 18px;
    background-color: #eee;
    border: 0px;
    border-radius: 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    text-align: center;
    position: relative;

}

.tab{
    
    background: #eee;
    height: 331px;
    overflow-y: scroll;
}
.news{
  position: relative;
    padding: 12px 30px 4px;
    background: #fff;
    margin: 11px 7px;
}
.news-box .news:before {
     content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background: #800000;
    left: 29px;
    top: 16px;
}
.news-date{
    margin-left: 19px;
    margin-bottom: 6px;
}
.news-box li {
    list-style-type: none;
    padding: 5px 0px;
    background: #fff;
}

.scrollbar
{
  margin-left: 3px;
  float: left;
  overflow-y: scroll;

}

.force-overflow
{
  min-height: 800px;
}
#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #800000;

}

/*END OF ABOUT*/


/*START OF APLLY*/

.apply-bg{
  background: url('images/iwfm_currentstudents.jpg');
  height: 400px;
}
.apply-infos{
      padding: 61px 39px;
}
.apply-header{
    font-size: 22px;
    position: relative;
    top: 23px;
    left: 24px;
    color: #800000;
}
.apply-text {
    position: relative;
    top: 279px;
    background: #f7f7f7;
    width: 349px;
    left: 12px;
    font-size: 20px;
    color: red;
    height: 71px;

}
.apply-info-bg{
   background-color: #ac1f24;
   color: #fff;
   height: 400px;

}
.apply .semi-header::before{
   background: #fff;
}

.apply .semi-header {
    left: 80px;
}
/*END OF APLLY*/


/*ABOUT */
.footer{
    background-image: url(images/buetlogo_overlaybig.png);
    background-color: #ac1f24;
    background-repeat: no-repeat;
    background-position: 1px 66px;
    color:  #fff;
}
.footer-ele{
    margin: 90px 0px;
}
.links{
  padding: 0px 40px;
}

.links a{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.footer-des{
  font-size: 20px;
    font-weight: 400;
}

.link-p{
    margin: 4px 14px;
}

.footer-header{
   font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.para-add{
  font-size: 16px;
}

.footer-bottom{
    background-color: #504f4d;
    background-repeat: no-repeat;
    background-position: 1px 66px;
    color:  #fff;

}