@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

/*for raleway font
font-family: 'Raleway', sans-serif;*/

body{
    overflow-x: hidden;
  }  
 .box-shadow{
  -webkit-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
 } 
/*START OF WHY_US SECTION*/
.why_us{
	padding:70px 0px 70px;
}
.why_us_card1,.why_us_card2,.why_us_card3{
    background-size: cover;
    height: 280px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 19px 10px rgba(230,225,230,0.82);
   -moz-box-shadow: 0px 0px 19px 10px rgba(230,225,230,0.82);
    box-shadow: 0px 0px 19px 10px rgba(230,225,230,0.82);
      -webkit-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
    
}

.why_us_card1:hover,.why_us_card2:hover,.why_us_card3:hover{
    -webkit-box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82);
    -moz-box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82);
    box-shadow: 0px 0px 14px 4px rgba(230,225,230,0.82);
   
 }   

.why_us img{
	    margin: 40px 0px 10px;
}

.why_text{
	font-size: 2.5em;
  font-weight: 500;
}


	
.why_us .identity{
	margin: 0px 0px;
	
}

.why_us .description{
	margin:0px 0px 20px;
	
}

.why_us .btn{
	margin-bottom: 45px;
}
.why_us_card1{
	background: url('images/designer.jpg');
}	

	.why_us_card2{
		background: url('images/developer.jpg');
		
	}

	.why_us_card3{
		background: url('images/marketer.jpg');
	}

	/***************************END OF WHY US***********************/

	/***************************START OF ABOUT US***********************/
	.about{
		padding:105px 0px 120px;
	}
  .about a:focus{
        outline: none;
  }
	.video_bg {
    background: url(images/video_bg.jpg);
    background-size: cover;
    height: 43vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 0px;
     -webkit-box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
   box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 25px 6px rgba(0, 0, 0, 0.36);
}
.frame {
  background-color: #fff;
  border: 2px double #fff;;
  padding: 10px;
  -webkit-box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
   box-shadow: 0 0 0 10px #fff, 0 0 0 10px #777, 0 1px 27px 6px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  
}

.btn-mp{
      padding:15px;
      margin:85px 6px 0px;
}
/*.frame:before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}
.frame:after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}*/

/*******************End of ABOUT US*************/
#menu{
  padding: 15px 0px 180px;
}
.service-card{
    box-shadow: 0px 0px 15px 7px rgba(230,225,230,0.82);
    -webkit-box-shadow: 0px 0px 15px 7px rgba(230,225,230,0.82);
    -moz-box-shadow: 0px 0px 15px 7px rgba(230,225,230,0.82);    
    padding: 30px 30px 32px;
    margin: 60px 0px 0px;
    

}

.process-icons{
  margin-top: -16px;
}
.process-list h3{
   text-decoration: none;
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    margin: 56px 19px 0px 0px;
    font-weight: 500;
}

.process-icons h4 {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    margin: 22px 18px -5px 0px;
}
.icon-bg{
    box-shadow: 0px 0px 10px 2px rgba(230,225,230,0.82);
    background: #fff;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 49px;
}    

.icons p{
   font-size: 14px;
  margin: 18px 0px 22px;
  color: #969696;
  font-weight: 300;
}

.icons::before{
    border-bottom: 2px dashed red;
    content: "";
    height: 1px;
    left: 3%;
    position: absolute;
    bottom: 136px;
    width: 80%;
    z-index: -3;
    opacity: .1;
}
.tab-btn{
  margin: 15px 0px 0px -9px;
}

.process-icons img{
    padding: 10px 0px;

}
.nav-tabs {
    display: inline-block;
    border-bottom: 0px;
    margin: 26px -99px -9px 77px;
    float: right;
}

.nav-tabs>li>a{
    font-size: 18px;
    color: #969696;
    border: 0px;
}
.nav-tabs>li{
    margin: 0px 79px 0px -50px;
}
.f-16{
  font-size: 16px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
   color: #000;
    cursor: pointer;
    background-color: #fff;
    border: 0px;
    border-bottom-color: transparent;
  
}

.nav-tabs > li.active > a::before,
.nav-tabs > li.active > a:hover::before,
.nav-tabs > li.active > a:focus::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 17px;
    bottom: 0;
    background: #2098D1;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: red;
    margin: 6px 0px;
    left: 17px;
    height: 3px;
}

.nav-tabs>li>a:hover{
  border-color: transparent;
}
.nav>li>a:hover{
   background: transparent;
   border- color: transparent;
}
.nav-tabs>li>a:hover:before{
   content: "";
    position: absolute;
    z-index: -1;
    right: 17px;
    bottom: 0;
    background: #2098D1;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: red;
    margin: 6px 0px;
    left: 17px;
    height: 3px;

}
/*.nav-tabs>li.active>a{
  background: red;
    left: 17px;
    height: 2px;
    content: "";
    position: absolute;
    z-index: -1;
    right: 100%;
    bottom: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}*/

/******************START OF PORTFOLIO***************/
.portfolio{
	background: #f8f8f8;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: cover;
   width:100%;
}
.portfolio-des{
  position: relative;
}
.portfolio-text{
  margin-top: 136px;
  text-align: center;
  color:#fff;
}

.white-btn{
   border: 1px solid #fff;
   color: #fff;
}

.white-btn:hover{
   color: #fff;
    border: 1px solid #fff;
}
.portfolio-img .overlay-background {
    z-index: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(245, 36, 35, 0.9);
    color: #fff;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-img:hover .overlay-background {
    opacity: 1;
    visibility: visible;
}

.portfolio-img h2{
    font-size: 26px;
}
.portfolio-img h5 {
    color:#fff;
    font-size: 24px;
    font-weight: 300;
   
}

.portfolio-img h3 {
    color:#fff;
    font-size: 18px;
     font-weight: 300;
}

.margin-6px{
  margin: 0px 0px 6px;
}

.margin-20px{
  margin: 0px 0px 20px
}

/******************END OF PORTFOLIO***************/

/******************START OF BLOG***************/
#blog{
  padding: 315px 0px 0px;
}

.margin-bottom-90{
  margin-bottom: 85px;
}

#blog .light_para_b{
  font-size: 16px;
    color: #969696;
    font-weight: 300;
    text-align: center;
    max-width: 690px;
    margin: auto;
}
 .data-box{
   position: absolute;
 }

 .data-box p{
    transform: rotate(-90deg);
    transform-origin: left top 0;
    margin-top: 147px;
    color: #969696;
    font-weight: 500;
 }

 .image-box{
    position: relative;
    margin-left: 30px;
 }
.content-box{
    position: relative;
    background: #fff;
    height: 180px;
    padding: 10px 27px;
    top: -117px;
    width: 320px;
     cursor: pointer;
    -webkit-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 16.2px 1.8px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
     background-color: rgb(255, 255, 255);
  
}

.content-box:hover{
     -webkit-box-shadow: -4px 6px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -4px 6px 14px 0px rgba(0,0,0,0.4);
    box-shadow: -4px 6px 14px 0px rgba(0,0,0,0.4);

  }

.content-box h2 {
    font-size: 18px;
    line-height: 23px;
}
 .blog-auth{
      font-size: 13px;
    font-weight: 400;
    margin-bottom: -13px;
    padding-top: 9px;
    color: #969696;
 } 

 .content-box p{
   margin-top: 20px;
 }
 .red-post{
   font-size: 14px;
   font-weight: 600;
   color:red;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
 }

 .content-box a:hover{
   color: #000;
   text-decoration: none;
 }

 .arrow {
    display: inline-block;
    width: 21px;
}

.line {
    margin-top: 14px;
    width: 11px;
    background: red;
    height: 2px;
    float: left;
    margin-left: 6px;
}
.point {    
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid red;
    float: right;
    margin-top: 11px;
}
.light_bg img,a{
  display: inline-block;
  color: #000;
  text-align: center;
  margin: auto;
}

.light_bg a{
  position: relative;
  top: 4px;
  margin: 0px 7px;
  font-weight: 700;
}
.light_bg a:hover{
  color: red;
}

/******************END OF BLOG***************/

/******************START OF PORTFOLIO***************/

.subscribe{
    background: #f8f8f8;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: cover;
   width:100%;
   padding:  60px 0px 100px;
}

.gift{
   background: url('images/gift_bg.png');
}

.gift img{
   position: relative;
  top: 27px;
  left: 29%;
}
form:focus{
  outline: none;
}
.input-field {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    margin: 30px 0px 0px -10px;
}

.gift_header{
  margin-top: 35px;
}

#subscribe input.btn.btn-lg {
   width: 62%;
    height: 51px;
    text-align: left;
    border:3px solid red;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
    font-size: 14px;
    color: #969696;
    font-weight: 300;
    cursor: default;
}

   
#subscribe input[type="email"]:focus{
    border:3px solid red;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
    outline: none;
    
}


#subscribe button.btn {
     background: #000;
    color:#fff;
    width: 26%;
    height: 51px;
    margin-left: -13px;
    border:none;
    font-size: 16px;
    letter-spacing: .5px;
}

#subscribe button.btn:hover{
    background: red;
    color: #000;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}




.projects{
    background: url(images/project.jpg);
    padding: 105px 0px 120px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 0px 49px;

   /* background-attachment: fixed;*/
}
.margin-top150{
   margin-top: 150px;
}
/*.hellos{
    background: url(images/map.png);
    padding: 100px 0px 100px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}*/



/*.address{
  margin-top: 30px;
}*/

address{
    display: inline-block;
    position: relative;
    top: 26px;
    left: 20px;
}

